<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Izabel Chaves">

    <link rel="stylesheet" href="assets/css/style.css">
    <title>Tela de Login</title>
</head>
<body>
    <canvas id="bgCanvas"></canvas>

    <div class="form-container">
        <h2>Login</h2>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Senha" required>
            <button type="submit">Login</button>
            <br><br>
        </form>
    </div>

    <script src="assets/js/background.js"></script>
    
</body>
</html>